<!DOCTYPE html>
<html lang="en">
    {% include"/default/head.html" %}
<body>
    <div id="paginaInfoApp" class="container-fluid">
        <div id="infoApp">
            <div id="salidaCruz">
                <a href="/muestraOpcionesApp"><img src="../static/img/icons/close-tab_oho.svg" width="28" height="28"></a>
                <div id="tituloOpApp">
                    <h2 style="text-align: center;">Historial</h2>
                </div>
            </div>
         
            <div class="row actividad">
                <div class="col-1">
                    <img src="../static/img/icons/dolar[$].svg" width="45" height="45">
                </div>
                <div class="col-3">
                    <h5>Compra</h5>
                </div>
                <div class="col-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam placeat soluta</p>
                </div>

                <div class="col-2">
                    <p>Mie, 02 Jul, 2025</p>
                </div>
                
                
                
            </div> 
            <hr class="hrChico">
            <div class="row actividad">
                <div class="col-1">
                    <img src="../static/img/icons/changeMoneyBill.svg" width="45" height="45">
                </div>
                <div class="col-3">
                    <h5>Canjeo de credito</h5>
                </div>
                <div class="col-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam placeat soluta</p>
                </div>
                <div class="col-2">
                    <p>Vie, 04 Jul, 2025</p>
                </div>
            </div> 
            <hr class="hrChico">
            
        </div>
    </div>
    
    
</body>
</html>