<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Link Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!--  FAVICON  -->
    <link rel="shortcut icon" type="image/png" href="../../static/img/icons/favicon.ico" />
    <!--  Own Styles-->
    <link rel="stylesheet" href="../static/style/style.css">
    
    <title>miraTV</title>
</head>
<body>
    <div class="containter">
        <div id="imgFondo">
            <!-- Modal -->
            <div class="modal fade show" id="modalIngreso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content custom-modal">
                        <div class="modal-header">
                            <div class="modal-title">
                                <h1>Bienvenido a Mira-TV</h1>
                            </div> 
                        </div>
                        <div class="modal-body">
                            
                            <div id="menuInicial">
                    
                                <a href="/login"><h4>Ingresar</h4></a>
                                <a href="/registro"><h4>Registrarse</h4></a>
                                <a href="/#"><p id="invitado">Navegar como Invitado</p></a>
                                <br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    
    

    <!--  Link Bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <!--  Own Script -->
    <script src="../static/script/script.js"></script>
</body>
</html>